{% extends 'bootstrap/base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('site.dashboard') }}">Admin Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('site.dashboard') }}">Home</a></li>
      <li><a href="{{ url_for('api.addBook') }}">Add Book</a></li>
      <li><a href="{{ url_for('api.removeBook') }}">Remove Book</a></li>
      <li><a href="{{ url_for('site.updateExistingBook') }}">Update Book</a></li>
      <li><a href="{{ url_for('site.report') }}">Get Report</a></li>
      <li><a href="{{ url_for('site.logout') }}">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-1">
			<!-- General Books Statistics -->
			<h1>
				Today's Report
			</h1>
			<iframe width="600" height="206" src="https://datastudio.google.com/embed/reporting/1xalWozjArXnjN2A1_ad8d64eRI1igC9J/page/Hfjq" frameborder="0" style="border:0" allowfullscreen>
			</iframe>
			<hr/>
			
			<!-- Borrowed Books -->
			<h1>
				Borrowed Books Report
			</h1>
			<iframe width="900" height="563" src="https://datastudio.google.com/embed/reporting/1GAkbUbubfd1l4VMmiSm2fKTGPeoOMRsN/page/nbjq" frameborder="0" style="border:0" allowfullscreen>
			</iframe>
			<hr/>
			
			<!-- Returned Books -->
			<h1>
				Returned Books Report
			</h1>
			<iframe width="900" height="563" src="https://datastudio.google.com/embed/reporting/1at8hoPcLyAvE-hhFxmgBShJnf_ODSPCt/page/0djq" frameborder="0" style="border:0" allowfullscreen>
			</iframe>
		</div>
	</div>
</div>
{% endblock %

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}