{% extends 'bootstrap/base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Add Book</a></li>
      <li><a href="#">Remove Book</a></li>
      <li><a href="#">Update Book</a></li>
      <li><a href="#">Get Report</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<h1>Sensor Data </h1> 
<div class="alert alert-success" role="alert">
    Admin Dashbaord
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}