{% extends 'bootstrap/base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('site.dashboard') }}">Admin Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="{{ url_for('api.addBook') }}">Add Book</a></li>
      <li class="active"><a href="{{ url_for('site.removeExistingBook') }}">Remove Book</a></li>
      <li><a href="{{ url_for('site.updateExistingBook') }}">Update Book</a></li>
      <li><a href="{{ url_for('site.report') }}">Get Report</a></li>
      <li><a href="{{ url_for('site.logout') }}">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<h1>Admin Dashbaord </h1> 
<div class="alert alert-success" role="alert">
    Remove Book
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}