{% extends 'bootstrap/base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('site.dashboard') }}">Admin Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('site.dashboard') }}">Home</a></li>
      <li><a href="{{ url_for('api.addBook') }}">Add Book</a></li>
      <li><a href="{{ url_for('api.removeBook') }}">Remove Book</a></li>
      <li class="active"><a href="{{ url_for('site.updateExistingBook') }}">Update Book</a></li>
      <li><a href="{{ url_for('site.report') }}">Get Report</a></li>
      <li><a href="{{ url_for('api.logout') }}">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container"></div>
  <!-- Success Message -->
  {% for message in get_flashed_messages() %}
  <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}

  <h1>Update Book</h1>
  <br>

  <!-- Form-->
  {{ wtf.quick_form(updateBookForm) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}