{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Admin Dashboard{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('site.dashboard') }}">Admin Dashboard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('site.dashboard') }}">Home</a></li>
      <li><a href="{{ url_for('api.addBook') }}">Add Book</a></li>
      <li><a href="{{ url_for('site.removeExistingBook') }}">Remove Book</a></li>
      <li class="active"><a href="{{ url_for('site.updateExistingBook') }}">Update Book</a></li>
      <li><a href="{{ url_for('site.report') }}">Get Report</a></li>
      <li><a href="{{ url_for('api.logout') }}">Logout</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Update Book</h1>
  <br>

  <!-- Form-->
  <form method="POST" role="form">
	{{ updateBookForm.csrf_token }}
	{{ wtf.form_field(updateBookForm.bookTitle) }}
	<br>
	<br>
	{{ wtf.form_field(updateBookForm.title) }}
	{{ wtf.form_field(updateBookForm.author) }}
	{{ wtf.form_field(updateBookForm.publishedDate) }}
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="button" onclick="onSubmit()">Update Book</button>
  </form>
  
  <!-- Flask API Request -->
  <script>
	function onSubmit() {
		var changeBook = {};
		changeBook.title = document.getElementById('title').value;
		changeBook.author = document.getElementById('author').value;
		changeBook.publishedDate = document.getElementById('publishedDate').value;
		
		if (changeBook.title != "" && changeBook.author != "" && changeBook.publishedDate != ""){
			var newurl = "/updateBook/" + document.getElementById('bookTitle').value;
			
			$.ajax({
				type: "PUT",
				url: newurl,
				data: JSON.stringify(changeBook),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function(response) {
						location.reload();
				}
			});
		}
		else{
			alert("Please fill all required field");
		}
	};
  </script>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}